:not(.selected) {
  background-color: #141414;
}

.selected {
  background-color: #1f1f1f;
}

.user {
  padding: 10px;
  cursor: pointer;
}

.description {
  display: inline-block;
  background: transparent;
}

.description .name {
  background: inherit;
}

.description .status {
  background: inherit;
}

.status {
  color: #92959e;
}

.new-messages {
  color: white;
  background-color: red;
  width: 20px;
  border-radius: 5px;
  text-align: center;
  float: right;
  margin-top: 10px;
}
